.card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    border-radius: 15px;
    text-decoration-line: none;
    text-emphasis: none;


}

.card img {
    width: 60vh;
}



.nameMeal {
    text-align: center;
    text-decoration: none;
    color: blanchedalmond;
}

.card h3 {
    text-decoration-line: none;
}

