.homepage {
    background-color: rgb(58, 13, 13);
}

.main-input {
    width: 530px;
    margin: 0 auto;
    margin-bottom: 35px;
}

.main-input-container {
    width: 525 px;


    display: flex;
    justify-content: center;
    align-items: center;

}

.main-input input{
    width: 450px;
    height: 40px;
    border: none;
    outline: none;

}

.main-input-container:hover {
    box-shadow: 0 1px 6px 0 #20212447;
    border-color: #dfe1e500;
}

.main-buttons {
    display: flex;
    width: 530px;
    margin: 0 auto;
    justify-content: center;
}

.main-buttons div {
    display: inline-block;
    padding: auto;
}

.main-buttons button {
    height: 36px;
    background-color: #f2f2f2;
    border: 0;
    font-size: 14px;
    color: #5f6368;
    padding: 0 30px;
    width: 100px;




}

.main-buttons button:hover {
    border: 1px solid #dadce0;
    box-shadow: 0 1 px rgb(0 0 0 / 10%);
    color: #000000;
}

.Buscador{
    background-color: rgb(58, 13, 13);  
    padding: 30px;
}
