.footer {
    height: 7vw;
    background-color: rgb(47, 17, 12);
    color: white;
    padding: 5px 5px;
}

.footerNames {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 60px;
    height: 3vw;

}


.footerNames h5:hover{
    opacity: 1;
    text-shadow:  0 -1px 4px rgb(184, 93, 58),  0 -2px 10px rgb(255, 157, 0),  0 -10px 20px #ff8000,  0 -18px 40px red;
}

.footerTitulo{
    text-align: center;
    display: flex;
    justify-content: center;
    height: 3vw;
}

.footerTitulo h3 {
    width: 20vw;

}

.footerTitulo h3:hover{
    opacity: 1;
    text-shadow:  0 -1px 4px rgb(184, 93, 58),  0 -2px 10px rgb(255, 157, 0),  0 -10px 20px #ff8000,  0 -18px 40px red;
}